html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {    
    margin-bottom: 60px;
}

.navbar{
    opacity: 1;
}

.showcase-start {
    display: flex;
    background: url(/images/ags-background.jpg) top center no-repeat; 
    max-width: 100%;
    height: 40vh;
    background-size: 100%;
    padding: 10px;    
    align-items: center;
    opacity: 0.9;
}

.ags-motto {
    
    background-color: #f3f3f3;
    margin: auto;
    width: 50%;
    min-width: 300px;
    height: 35%;
    border: 1px solid #008cba;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;    
    opacity: 0;
    text-align: center;
}

.ags-motto:hover {
    opacity: 0.6;
}

.product-card {
    border: 0px;
    border-radius: 5px;
}

.product-card:hover {          
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-secondary {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;    
}

.nav-item{
    padding: 0;
    margin: 0;
}



