
<div class ="container row"
<div class ="col-12 text-center">
    <h1 class="text-primary text-center">Din order är nu lagd!</h1>
    Du kan hämta din order i butik senast @DateTime.Now.AddDays(14).ToShortDateString()
    <img src="~/images/zelda.webp" width="50%" />
</div>
<br />
</div>