@model Guid
<div class ="container row"
    <div class ="col-12 text-center">
        <h1 class="text-primary text-center">Din order är nu lagd!</h1>
        Ditt ordernummer : @Model
        <img src="~/images/zelda.webp" width="50%" />
    </div>
    <br />
</div>