@*Vi vill fetcha genre properties som vi skapar här
    om man inte passar något value inuti sin controller som t.ex. create så kan man binda sin vy med model
    som är baseread på datan man hämtar från sidan med hjälp av tag-helpers
*@
@model Genre
<form method="post" asp-action="Edit">
    <div class"border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ändra Genre</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            @*kollar validation här med skriver ut felen i röd text*@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    
        <button type="submit" class="btn btn-primary" style="width:150px">Uppdatera</button>
        <a asp-controller="Genre" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Bakåt till List
        </a>
    </div>
</form>

@*Gör att alla validations görs på klienten*@
@section Scripts{
    @*added partial view (Client side validation)*@
<partial name="_ValidationScriptsPartial" />
}



